@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir-FD.eot");
  src: url("../fonts/Vazir-FD.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-FD.woff2") format("woff2"),
    url("../fonts/Vazir-FD.woff") format("woff"),
    url("../fonts/Vazir-FD.ttf") format("truetype");
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir-Bold-FD.eot");
  src: url("../fonts/Vazir-Bold-FD.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-Bold-FD.woff2") format("woff2"),
    url("../fonts/Vazir-Bold-FD.woff") format("woff"),
    url("../fonts/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: osmantaha;
  src: url('../fonts/osmantaha.ttf');
  src: url('../fonts/osmantaha.ttf') format('truetype');
  font-weight: normal;
}

* {
  font-family: vazir !important;
}

a {
  text-decoration: none;
}

.text-justify {
  text-align: justify;
}

.oni-n {
  display: none !important;
}

body {
  background-color: #f4f6f9;
  height: 100%;
}

.oni_row {
  margin: 5px auto !important;
}

.login-box form {
  padding: 30px;
  border-radius: 10px;
}

.timer {
  font-size: 1.2em;
  margin-top: 10px;
}

.bg-gradiant {
  background: linear-gradient(90deg, #393C97 0%, #37BEC1 100%);

}

.alert-info {
  border-color: #148ea1;
}

.text-center {
  text-align: center !important;
}

.bg-info,
.alert-info,
.label-info {
  background-color: #17a2b8 !important;
}

.bg-info,
.alert-info,
.label-info,
.bg-info a,
.alert-info a,
.label-info a {
  color: #ffffff !important;
}

.form-check {
  padding: 15px;
  border: 1px solid #ADB5CC;
  margin: 5px;
  border-radius: 21px;
  padding-right: 2.5rem;
  text-align: right;
}



.form-check.success {
  background-color: #37BEC1 !important;
}

.form-check.danger {
  background-color: #FF9E9E;
}


@media (max-width: 768px) {
  

  * {
    font-size: 13px;
  }


  h5 {
    font-size: 15px;
  }


  .card-title {
    line-height: 2;
  }

  .login-box form {
    width: 100% !important;
  }

  .additional-link-img {
    height: 70px;
  }

  .w-25,
  .w-50,
  .w-75,
  .w-100 {
    width: 95% !important;
  }

}

@media (max-width: 576px) {}